@import "tailwindcss";

.stroke-animate {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 10s ease-out forwards;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
:root {
    --font-kanit: "Kanit", sans-serif;
}

.font-kanit {
    font-family: var(--font-kanit);
}

.react-flow__node.no-handles .react-flow__handle {
    display: none;
  }

.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 36px;
    top: 36px;
}

/* Hide scrollbars everywhere but allow scrolling */
html, body {
    overflow: auto;
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* Internet Explorer 10+ */
  }
  
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;                /* Chrome, Safari, Edge */
  }/* Add these styles to your CSS file */
.perspective-1000 {
    perspective: 1000px;
}

.transform-style-preserve-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

